*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 49, 68);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-color: white;
    width: 100%;
    gap: 10px;    
}

#cabecalho{
    text-align: center;  
    flex-direction:row;
    justify-content: center;  
    background-color:rgb(0, 49, 68);
    padding: 30px;
}

.nav-list {
    list-style: none;
    display: flex;
  }
  
  a { color: rgb(247, 241, 241); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 30%;
}

  

  .nav-list li {
    display: flex;
    letter-spacing: 10px;
    text-align: right;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 0px;
    transition: 0.3s;
  }
  

.triangulo img{
    width: 10%;
    height: 16%;
    padding-right: 3%;
}
.triangulo h3{
    transition: .4s ease all; 
    padding:50px;
}
.triangulo{    
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
}
.medidas-lados{
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.medidas-lados input{
    height: 100%;
    border-radius: 5px;    
    border: 1px solid;
    font-size: 18px;
    padding-left: 50px;
    
}

#btn-calcular:hover{
    opacity: 0.5;    
    transform: scale(1.1);
    
}

#btn-apagar:hover{
    opacity: 0.5;
    transform: scale(1.1);
}
.botao{
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 20px;
    padding: 10px 10px;
    margin-bottom:50px;
    
      
}
#btn-calcular{
    background: #c74e1e;
    border-radius: 5px;
    font-weight: bold;  
    padding: 10px;

}
#btn-apagar{
    background: rgb(15, 168, 84);
    border-radius: 5px;
    font-weight: bold;  
    padding: 10px;    
}


#resultado{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;  
    width: 40%;
    border-radius: 5px;
    border-top: 8px solid rgb(0, 49, 68);
    border-left: 8px solid rgb(0, 49, 68);
    border-right: 5px solid ; 
    border-bottom: 5px solid; 
    padding: 10px 20px;
    margin: 0 auto;
}

#retorno{
    padding: 0px;
    font-size: 20px;      
}

#resposta{
    padding: 10px;
    font-size: 20px;
   
}



