*{
    color: #532820;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-color: azure;
    width: 100%;
    gap: 10px;    
}

#cabecalho{
    text-align: center;  
    display: flex;
    flex-direction: row;  
    justify-content: center;  
    background-color:#73e28e;
    padding: 30px;
}
.nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 0px;
    transition: 0.3s;
  }
  

.triangulo img{
    width: auto;
    height: auto;
}
.triangulo h3{
    transition: .4s ease all; 
    padding:50px;
}
.triangulo{    
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;
}
.medidas-lados{
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.medidas-lados input{
    height: 100%;
    border-radius: 5px;    
    border: 1px solid;
    font-size: 18px;
    padding-left: 50px;
    
}

#btn-calcular:hover{
    opacity: 0.5;    
    transform: scale(1.1);
    
}

#btn-apagar:hover{
    opacity: 0.5;
    transform: scale(1.1);
}
.botao{
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 20px;
    padding: 10px 10px;
    margin-bottom:50px;
    
      
}
#btn-calcular{
    background: #f1ce03;
    border-radius: 5px;
    font-weight: bold;  
    padding: 10px;

}
#btn-apagar{
    background: #11eb2e;
    border-radius: 5px;
    font-weight: bold;  
    padding: 10px;    
}


#resultado{
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;  
    width: 40%;
    border-radius: 5px;
    border-top: 8px solid #11eb2e;
    border-left: 8px solid #11eb2e;
    border-right: 5px solid ; 
    border-bottom: 5px solid; 
    padding: 10px 20px;
    margin: 0 auto;
}

#retorno{
    padding: 0px;
    font-size: 20px;      
}

#resposta{
    padding: 10px;
    font-size: 20px;
   
}

footer{
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    background-color:azure;
    max-width: auto;
    margin: auto;
    padding: 10px;
    text-align: center;  
    display: flex;
    flex-direction: row;  
    justify-content: center;
    
}


